@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;300&display=swap');





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1864ab;
  font-family: 'Noto Serif Display', serif;
color: #051422;
}

main {
  border-left: 1px solid #071e33;
  width: 100%;
  min-height: 50vh;
  padding: 1em;
  /* background-color: #5d93c4; */
}

h1 {
  color: #e8f0f7;
  margin-bottom: 2em;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 100;
  text-decoration: overline #8cb2d5;
}

h2 {
  margin-bottom: 1em;
}

.ascii-arrow {
  color: #8cb2d5;
}

p {
  line-height: 1;
}